<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
   <!-- Service Bus specific app setings for messaging connections -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://crebit.servicebus.windows.net/;SharedAccessKeyName=DefaultFullSharedAccessSignature;SharedAccessKey=ErxHM1NfR4IfR0SJiWbARUb5w4ZfBVNE95jPAIeWg=" />
    <add key="Microsoft.ServiceBus.HubName" value="crebhub" />
  </appSettings>
</configuration>